* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    display: flex;
}
img{
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    background: #313131;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    gap: 40px;

}

.active {
    display: none;
    padding-right: 63px;
}

header img {
    padding: 20px;
    cursor: pointer;
}

header .menu-open:last-child, header img:last-child {
    position: absolute;
    bottom: 0px;
}

.menu-open{
  display: flex;
  align-items: center;
}

header span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 5px;
    margin-top: 5px;


}


main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 152px 42px;
    padding-bottom: 42px;
    margin: 0 auto;
}



.title {
    margin-bottom: 52px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.card {
    display: flex;
    flex-direction: column;

}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.details span:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.details span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #5C5C5C;
}

.galeria{
    position: relative;
}

.galeria-imagem {
    width: 250px;
}

.galeria-like{
    position: absolute;
    top: 20px;
    right: 20px;
}

.galeria-like-modal{
    position: absolute;
    top: 20px;
    right: 70px;
}



.modal{
    background-color: rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 3;

    display: none;
    justify-content: center;
    align-items: center;
   

}

.modal-close{
    position: absolute;
    top: 90px;
    right: 60px;
}


.card-modal{
    display: flex;
}

.imagem-modal{
    padding: 0px 50px;
    width: 555px;
}

.imagens-galeria{
    position: relative;
}

.hidden{
    display: none;
}